{% extends 'base.html.twig' %}

{% block title %}
    <title ma-update-title></title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div growl></div>

        <!-- Header -->
        <div ui-view="header"></div>

        <!-- Content -->
        <div ui-view="content"></div>
{% endblock %}